* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient( rgba(0,0,0,0.6)100%,rgba(0,0,0,0.6)100%),url(img4.webp);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    background-size: cover;
  }
  
  .signin {
    background: white;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
  }
  
  .signin h2 {
    margin-bottom: 20px;
    color:black;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  button {
    padding: 10px 20px;
    background-color:chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color:burlywood;
  }
  
  .popup-message {
    display: none;
    background-color:chocolate;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
  }
  