*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    background-image:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img5.jpeg);
    background-position: center;
    background-size: cover;
    height: 225vh;
}
.navbar{
    width: 100%;
    height: 75px;
    text-align: center;
}
.menu{
    position:fixed;
    width:100%;
    top:0%;
    right:0px;
    text-align: right;
    background-color:chocolate;
    margin-bottom: 70px;
    text-align: center;
}
ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 15px;
    padding-bottom: 30px;
}
ul li a{
    color:antiquewhite;
    font-family: 'Segoe UI';
    font-weight: bold;
}
ul li a:hover{
    color:orange;
}
#HOME {
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    color:chocolate;
    font-family:Arial;
    font-size: x-large;
}
#HOME h4{
    color:burlywood;
    padding-top: 5px;
    font-size:large;
}

#ABOUT img{
    width: 250px;
    float:left;
    padding-top:40px ;
    padding-left:10px;
}
#ABOUT div{
    text-align: center;
    color:cornsilk;
    padding-top: 40px;
    padding-right:50px;
    font-size:25px;
}
#ABOUT h2{
    color:chocolate;
  
}
#EVENTTIMELINE{
    color:antiquewhite;
    width:100%;
    padding-left:30px;
    padding-top: 75px;
}
#EVENTTIMELINE h1{
    text-align: center;

}
.event{

    text-align: center;
    margin: 20px auto;
    background-color:chocolate;
    border: 1px bisque;
    border-style: dashed;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    
}
.event h2{

    font-family: Arial;
    color: black;
}
.event h3{
    color:khaki;
}
.time{
    color:bisque;
    font-weight: bold;
    font-size: medium;
    padding-top: 10px;
}
#GALLERY{
    text-align: center;
    color:antiquewhite;
   
}
.photos{
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}
.photos img{
    width:100%;
    height: 300px;
    border-radius:8px;
    object-fit: cover;
}
#TESTIMONIALS{
    
    padding:20px;
    color:chocolate;
    text-align: center;
    background-color: black;
}

.testimonial p{
    font-style: oblique;
    color:beige;
    font-size:x-large;
}
.saidby{
    font-weight: bold;
    padding-left: 20px;
}
#CONTACT{
    color:chocolate;
    text-align: center;
    background-color: black;
}
.contact-details{
    color:bisque;
    font-size: large;
}
.register-form label {
    display: block;   
    margin-top: 15px; 
    font-weight: bold;
    color:beige;
    font-size: larger;
    padding-left: 20px;
}

.register-form input{
    width: 50%;      
    padding: 15px;
    margin-top: 5px;
    color:black;
    font-size:medium;
    padding-left:30px;
    font-weight: bold;
}
.register-form button{
    font-weight: bold;
    font-size:x-large;
    margin-top: 20px;
}
.register button{
    font-size: medium;
    font-weight: bolder;
    color: burlywood;
    margin-top: 100px;
}
.register-form select{
    tab-size: 30px;
    font-size: large;
    margin: 20px;
}

.register-form{
    text-align: center;
    width: 100%;
    background-image: linear-gradient( rgba(0,0,0,0.6)100%,rgba(0,0,0,0.6)100%),url(img4.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.register-form h1{
    color: burlywood;
    font-size: xx-large;
    padding-top: 60px;
}
.viewprofile-btn {
    display: inline-block;
    margin-top: 40px;              
    font-size: 18px;          
    background-color:white;
    color:black;
  }

.footer-section{
    color:beige;
    text-align: center;
    padding-top: 10px;
    background-color: black;
}
.footer-section h2{
    font-weight: bold;
    color: chocolate;
}
.footer {
    color:aquamarine;
    text-align: center;
    padding: 10px;
}
.footer a {
    margin:  15px;
    color:beige;
    font-size: 24px;
}
.footer a:hover {
    color:burlywood;
}
.footer img{
    width: 30px;
    height: 30px;
}
#modalPopup {
    top: 0;
    left:0;
    right:0;
    position: fixed;
    color:bisque;
    background-color:chocolate;
    padding: 20px;
    text-align: center;
    font-size:large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
