*{
    margin:0;
    padding: 0;
}
.main{
    width: 100%;
    background-image:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img5.jpeg);
    background-position: center;
    background-size: cover;
    height: 225vh;
}
.navbar{
    width: 1200%;
    height: 75px;
}
.heading{
    color:aliceblue;
    font-size: 35px;
    font-family:Arial;
    padding-left:20px;
    float:left;
    padding-top: 10px;
    margin-top: 5px;
}
.menu{
    width:400%;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 15px;
    padding-bottom: 30px;
}
ul li a{
    color:antiquewhite;
    font-family: 'Segoe UI';
    font-weight: bold;
}
ul li a:hover{
    color:orange;
}
#HOME {
    text-align: left;
    padding-top: 100px;
    padding-left: 50px;
    color:chocolate;
    font-family: Arial;
}
#HOME h4{
    color:burlywood;
    padding-top: 5px;
}

#ABOUT img{
    width: 250px;
    float:left;
    padding-top:40px ;
    padding-left: 30px;
}
#ABOUT div{
    float:left;
    margin-left: 20px;
    width: 30%;
    color:cornsilk;
    padding-top: 40px;
    padding-right: 30px;
    font-size: large;
}
#ABOUT h2{
    color:chocolate;
}
#EVENTTIMELINE{
    color:antiquewhite;
    padding-top: 230px;
    width:90%;
    padding-left:30px;
}
#EVENTTIMELINE h1{
    text-align: center;
}
.event{
    padding-left: 20px;
    margin-bottom: 20px;
}
.event h2{
    color:burlywood;
    font-family: Arial;
}
.event h3{
    color:khaki;
}
.time{
    color:bisque;
    font-weight: bold;
    font-size: medium;
    padding-top: 10px;
}
#GALLERY{
    text-align: center;
    color:antiquewhite;
   
}
.photos{
    padding: 20px;
    align-items: center;
   
    justify-content: center;
    display:flex;
     gap:15px;
}
.photos img{
    width:50%;
    height: 200px;
    border-radius:8px;
    object-fit: cover;
}
#TESTIMONIALS{
    
    padding:20px;
    color:chocolate;
    text-align: center;
}

.testimonial p{
    font-style: oblique;
    color:beige;
    font-size:x-large;
}
.saidby{
    font-weight: bold;
    padding-left: 20px;
}
#CONTACT{
    color:chocolate;
    text-align: center;
}
.contact-details{
    color:bisque;
    font-size: large;
}
.register-form label {
    display: block;   
    margin-top: 15px; 
    font-weight: bold;
    color:beige;
    font-size: larger;
    padding-left: 20px;
}

.register-form input{
    width: 50%;      
    padding: 15px;
    margin-top: 5px;
    color:black;
    font-size:medium;
    padding-left:30px;
    font-weight: bold;
}
.register-form button{
    font-weight: bold;
    font-size:x-large;
}
.register button{
    font-size: medium;
    font-weight: bolder;
    color: burlywood;
}
.register-form{
    width: 100%;
    background-image: linear-gradient( rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img4.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.register-form h1{
    color: burlywood;
    font-size: xx-large;
    padding-top: 10px;
}
.footer-section{
    color:beige;
    text-align: center;
    padding-top: 10px;
}
.footer-section h2{
    font-weight: bold;
    color: chocolate;
}
.footer {
    color:aquamarine;
    text-align: center;
    padding: 10px;
}
.footer a {
    margin:  15px;
    color:beige;
    font-size: 24px;
}
.footer a:hover {
    color:burlywood;
}
.footer img{
    width: 30px;
    height: 30px;
}